*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #750b40;
  font-family: Verdana, arial, helvetica;
  font-size: 20px;
  color: aliceblue;
  padding: 2rem 2rem 6rem 2rem;
}

body header img {
  width: 150px;
  height: 150px;
  float: auto;
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
  color: aliceblue;
}

h2 {
  padding: 2vh 0;
}

body header nav a {
  color: #f7b00b;
  text-decoration: none;
}
body header nav a.active {
  color: #b3ea70;
  text-decoration: none;
}

.box {
  border: 1px solid hsl(0, 50%, 99%);
  padding: 10px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: orange;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
	padding: 1rem 5%;
	display: flex;
	gap: 1rem;
	font-size: 1.4rem;
	align-items: center;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange !important;
  padding: 2px;
}

footer p {
	color: #ffffff;
}

footer img {
	width: 10vh;
	border-radius: 50%;
	aspect-ratio: 1/1;
  margin-left: 10vw;
}

