* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-bottom: 10vh;
}

body {
  background-color: #750b40;
  font-family: Verdana, arial, helvetica;
  font-size: 20px;
  color: aliceblue;
  padding: 2rem 2rem 6rem 2rem;
}

body header img {
  width: 150px;
}

h1 {
  padding: 2vh;
  background-color: orange;
  margin-bottom: 1rem;
}

h2 {
  font-size: 30px;
  color: orange;
  margin-bottom: 2rem;
}
.borger_menu {
  width: 40px;
  height: 40px;
  background-color: orange;
}

.nave_menu {
  display: flex;
  gap: 3vh;
  align-items: center;
  margin-bottom: 1rem;
}

nav {
  display: none;
}
@media screen and (min-width: 768px) {
  nav {
    display: flex;
  }

  .borger_menu {
    display: none;
  }
}

ul {
  display: flex;
  gap: 1rem;
}
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
  color: aliceblue;
}

body header nav a {
  color: #f7b00b;
  text-decoration: none;
}
body header nav a.active {
  color: #b3ea70;
  text-decoration: none;
}

.box {
  border: 1px solid hsl(0, 50%, 99%);
  padding: 10px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.box,
p,
h4 {
  padding-bottom: 2rem;
}

ol {
  padding-bottom: 2rem;
}

video {
  width: 100%;
  max-width: 700px;
}
footer {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(71, 108, 14, 0.869);
  padding: 2px;
  margin: 0 !important;
}

footer p {
  color: #ffffff;
}

footer img {
  width: 10vh;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin-left: 10vw;
}
