body {
    background-color: #750b40;
    font-family: Verdana, arial, helvetica;
    font-size: 18px;
    padding: 0 0 0 2rem;
}

body header img {
    width: 150px;
    height: 150px;
    float: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

body h5 {
    margin: 0;
    color: rgb(215, 221, 227);
}

body header nav a {
     color: #f7b00b;
   text-decoration: none;
}

body header nav a.active {
    color: #b3ea70;
  text-decoration: none;
}
h2 {
    color: aliceblue;
}

p {
    color: aliceblue;
}
 h4 {
    color: aliceblue;
 }

 ul li{
    color: aliceblue;
 }